* {
    box-sizing: border-box;
}

:root {
    --primary-color: #E3963E;
    --secondary-color: #FFFFF0;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: var(--secondary-color);
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
    text-align: center;
}

.hero {
    margin-top: 280px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
}

span {
    color: var(--primary-color);
}

h1,
h2,
h4 {
    color: var(--primary-color);
}

.contact-info p span {
    color: var(--secondary-color);
}

header {
    position: fixed;
    top: 0;
    background-color: #3f556d;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #3f556d;
    width: 100%;
    height: 50px;
}

.contact-methods {
    margin-top: 5px;
}

.fa {
    font-size: 25px;
    color: var(--secondary-color);
}

.contact-info {
    margin-top: 80px;
    margin-bottom: 40px;
}