* {
    box-sizing: border-box;
}

:root {
    --primary-color: #E3963E;
    --secondary-color: #FFFFF0;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: var(--secondary-color);
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
}

header {
    margin-top: 150px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
}

span {
    color: var(--primary-color);
}

h1,
h2,
h4 {
    color: var(--primary-color);
}

footer {
    position: fixed;
    top: 0;
    /* background-color: #3f556d; */
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}