* {
    box-sizing: border-box;
}

:root {
    --primary-color: #E3963E;
    --secondary-color: #FFFFF0;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
}

header {
    margin-top: 150px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
}

span {
    color: var(--primary-color);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #3f556d;
    width: 100%;
}